*{
    margin: 0;
}
.box1,.box3{
    display: inline-block;
    background-color: red;
    height: 40vh;
    width: 30vw;
}
.box2,.box4{
    display: inline-block;
     background-color: red;
    height: 40vh;
    width: 53vw;
}
.box2{
    margin-left: 15.5vw;
}
.box4,.box3{
    margin-top: 20vh;
} 
.box4{
    margin-left: 15.5vw;
}
